---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Sidebar from '../../components/Sidebar.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    
  </head>
  <body>
    <Header />

    <div class="layout">
      	<aside class="sidebar">
        	<Sidebar posts={posts} />
      	</aside>
	  
      	<div class="content-wrapper">
			<main class="blog-content">
			  <h1>Blog Posts</h1>
			</main>
		
			{posts.map((post) => (
			  <a href={`/blog/${post.id}/`} class="blog_post">
				<img class="blog_img" src={post.data.heroImage} alt={post.data.title} />
				<div class="blog_content">
				  <h4 class="title">{post.data.title}</h4>
				  <p class="date">
					<FormattedDate date={post.data.pubDate} />
				  </p>
				</div>
			  </a>
			))}
		  </div>
    </div>

    <Footer />
  </body>
</html>
