---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import currentStatus from '../data/currentStatus.json';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const dev_posts = (await getCollection('devlog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>Greetings, Weary Traveller!</h2>
			<p>I build things with code — devlogs, experiments, and side projects.</p>
  			<a href="/devlog" class="button">See Devlog</a>

			<section class="latest-posts boxed">
				<h2> Latest Blog Posts </h2>
				{posts.length === 0 ? (
					<p>No blog posts found.</p>
				  ) : (
					posts.slice(0, 3).map((post) => (
						<div class="blog-post">
						<a href={`/blog/${post.id}/`} class="post-preview">
							<h3>{post.data.title}</h3>
							<p>{post.data.description}</p>
					  	</a>
					 	</div>
					))
				  )}
			</section>

			<section class="youtube-section boxed">
  				<h2>Latest Videos</h2>
  				<div class="youtube-grid" id="youtube-feed"></div>
			</section>

			<section class="latest-posts boxed">
				<h2> Latest Dev Log Posts </h2>
				{dev_posts.length === 0 ? (
					<p>None found, stay tuned!</p>
				  ) : (
					dev_posts.slice(0, 3).map((post) => (
						<div class="blog-post">
						<a href={`/devlog/${post.id}/`} class="post-preview">
							<h3>{post.data.title}</h3>
							<p>{post.data.description}</p>
					  	</a>
					 	</div>
					))
				  )}
			</section>

			<section class="now">
				<h2>Now</h2>
				<ul>
	  			<li>🎮 Playing: {currentStatus.currentGamePlaying}</li>
				<li>🎮 Backlog Game: {currentStatus.currentGamePlaying}</li>
	  			<li>📖 Reading: {currentStatus.reading}</li>
	  			<li>📺 Watching: {currentStatus.watching}</li>
	  			<li>🎧 Listening: {currentStatus.listening}</li>
	</ul>
  </section>
		</main>
		<Footer />
	</body>

	<script type="module">
  const feed = document.getElementById('youtube-feed');
  const res = await fetch('/.netlify/functions/youtube');
  const videos = await res.json();

  feed.innerHTML = videos.map(video => `
    <iframe
      src="https://www.youtube.com/embed/${video.id}"
      title="${video.title}"
      frameborder="0"
      allowfullscreen
    ></iframe>
  `).join('');
</script>
</html>
